* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
}

.logo {
    width: 100px;
    height: auto;
}

.perfil {
    width: 200px;
    height: auto;
}

.footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.icons {
    display: flex;
    gap: 25px;
}

.footer-divider {
    height: 1px;
    background: rgba(0, 0, 0, 0.6);
    margin: 40px 0;
}

.footer-bottom {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

footer {
    background-color: #a0aded;
    padding: 50px 50px;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 65px;
    height: 65px;
    background: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .3);
}

.whatsapp img {
    width: 35px;
}