$color-principal: #0d6efd;
$color-secundario: #dbeafe;
$color-texto: #000;
$color-blanco: #fff;
$color-borde: #7ab3ff;

$font-principal: "Roboto", sans-serif;

$font-base: 75%;
$texto-normal: 14px;
$titulo-card: 18px;

$radio-card: 16px;
$radio-pill: 999px;