.card{

    transition:

    transform .35s ease,

    box-shadow .35s ease;

    cursor:pointer;

    &:hover{

    transform:

    translateY(-10px)

    scale(1.02);

    box-shadow:

    0 20px 40px rgba(0,0,0,.18);

    }

}

.card-formacion{

    border:2px solid $color-principal;
    border-radius:$radio-card;

}

.subtitulo-card{

    color:$color-principal;

}